<secction class="bannerhome">
    <section class="headerbanner">
            <div class="card-bg">
                <h1>dri.naildesign</h1>
                <p>Manicura con amor. Uñas con arte que conquista y embellece nuestro mundo.</p>
                <button type="button" class="btn-bgstroke" href="#productos">Conozca nuestros servicios</button>
            </div>
    </section> 
</secction>


