<secction class="bannerhome">
    <section class="headerbanner">
            <div class="card-bg">
                <h1>dri.naildesign</h1>
                <p>Manicura con amor. Uñas con arte que conquista y embellece nuestro mundo.</p>
                <a href="/products"><button type="button" class="btn-bgstroke">Conozca nuestros productos</button>
                </a>
            </div>
    </section> 
</secction>


