<footer class="footer-style">
        <div class="container-fluid py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white">DRI nails</h5>
                    <p class="small text-white">Avenida Sarmiento 786 - Piso: 2° A</p>
                    <p class="small text-white">Resistencia - Chaco</p>
                    <p class="small text-white">Teléfono: (362) 475-9060</p>
                </div>

                <div class="hstack gap-3">
                    <h5 class="text-white">Encontranos</h5>
                    <!-- div class="bg-light border" -->
                    <p><a href="#" alt="Instagram" target="__blank"><i class="fab fa-instagram"></i></a></p>
                    <p><a href="#" alt="Facebook" target="__blank"><i class="fab fa-facebook-square"></i></a></p>
                    <p><a href="#" alt="WhatsApp" target="__blank"><i class="fab fa-whatsapp"></i></a></p>
                    <!--/div -->
                </div>
                <div class="hstack gap-3">
                    <p class="text">&copy; Copyrights. All rights reserved. Digital House - Grupo 7</p>
                </div>
            </div>

        </div>
</footer>
