
body {
    background-color: #ffffff;
  }
 
  .form-control:focus {
    box-shadow: none !important;
    border-color: #747474 !important;
  }
  
  .profile-button {
    background: #ffffff !important;
    box-shadow: none;
    border-color: #D36878 !important;
    color:#D36878 !important;
    transition: all 600ms !important;
  }
  
  .profile-button:hover {
    background: #d48f99 !important;
    color:#ffffff !important;
  }
  
  .profile-button:focus {
    background: #682773 ;
    box-shadow: none;
  }
  
  .profile-button:active {
    background: #682773 !important;
    box-shadow: none !important;
  }
  
  .back:hover {
    color: #682773 !important;
    cursor: pointer !important;
  }

  