* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
   
  }


#quantity {
    max-width: 80px;
    min-width: 80px;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: ">"
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .1rem 0rem !important;
    margin-bottom: 0rem;
    list-style: none;
    background-color: #ffffff;
    border-radius: .25rem
}

.breadcrumb a {
    color: #D36878;
}

.product_name {
    color: #D36878;
    font-weight: 400;

    font-size: 48px;
    display: flex;
    justify-content: center;
}
.product_name_R {
    color: #D36878;
    font-weight: 400;
    font-size: 30px;
    display: flex;
    justify-content: center;
}


.preciopdp {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.product_price {
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    margin-top: 9px;
    clear: left
}

.product_discount {
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
    margin-top: 9px;
    clear: left;
    margin-left: 10px;
    color: #D36878;
}

.singleline {
    margin-top: 1rem;
    margin-bottom: .40rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

.informacionpdp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.informacionpdp span{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.product_text {
    padding-left: 0px
}

.cantidad{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.product_name_R{
    margin-top: 30px;
}

.botonpagar {
    display: flex;
    align-content: center;
    justify-content: center;
}

.product_quantity {
    width: 104px;
    height: 47px;
    border: solid 1px #e5e5e5;
    border-radius: 3px;
    overflow: hidden;
    padding-left: 8px;
    padding-top: -4px;
    padding-bottom: 44px;
    float: left;
    margin-right: 22px;
    margin-bottom: 11px
}

.form-control {
    width: 30% !important;
}

.order_info {
    margin-top: 18px
}

.shop-button {
    height: 47px
}

.product_fav i {
    line-height: 44px;
    color: #cccccc
}

.product_fav {
    display: inline-block;
    width: 52px;
    height: 46px;
    text-align: center;
    cursor: pointer;
    margin-left: 3px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.btn-bgstroke {
    padding: 5px 50px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    margin: 20px 0;
    font-size: 20px;
    display: inline-block;
    border: 1px solid #D36878;
    color: #D36878;
    text-align: center;
    background-color: #fff;
   
}

.btn-bgstroke:hover {
    background-color: #D36878;
    border: #fff;
    color: #ffffff;
}

.image_selected {
    display: flex;
    border: solid 1px #e8e8e8;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    justify-content: center;
    width: 60%;
    margin: auto;
    margin-top:50px;
    
}
.image_selected img {
    max-width: 100%;  
}



@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');



body {
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #000000;
    padding: 0 10px;
}

ul {
    list-style: none;
    margin-bottom: 0px
}


.product_text {
    margin-top: 27px
}

.product_text p:last-child {
    margin-bottom: 0px
}

.order_info {
    margin-top: 16px
}

.product_quantity {
    width: 182px;
    height: 50px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    overflow: hidden;
    padding-left: 25px;
    float: left;
    margin-right: 30px
}

.product_quantity span {
    display: block;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    line-height: 50px;
    float: left
}

.quantity-input {
    display: display;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product_quantity input {
    display: display;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 9px;
    line-height: 50px;
    float: left
}



@media (min-width:768px){
  
    .image_selected{
        margin:50px 0 20px;
    }
   

    .unidad-de-producto {
        display: flex;
    }
  
    .product_text{
        min-width: 50%;
        padding: 30px;
    }
    .product_info{
        font-size: 16px;
    }
    .col-xs-3{
        font-size:16px ; 
    }

    .contenedor_productos_relacionados .unidad-de-producto {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 300px;    
    }

    .contenedor_productos_relacionados{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        overflow:auto;
        
    }
    .contenedor_productos_relacionados h2.product_name{
        font-size: 18px;
        margin-top: 0px;

    }
    .contenedor_productos_relacionados .unidad-de-producto .product_price{
        font-size: 18px;
        margin-top: 0px;
    }
    .contenedor_productos_relacionados .unidad-de-producto .btn-bgstroke{
        font-size: 16px;
        margin-top: 20px;
    }
    .contenedor_productos_relacionados .unidad-de-producto .product_info{
        display: none;
    }
    .contenedor_productos_relacionados .unidad-de-producto .cantidad{
        display: none;
    }
    .contenedor_productos_relacionados .product_text{
        
        padding: 10px;
        margin-top: 0px;
    }
    .contenedor_productos_relacionados .singleline{
        display: none;
        
    }
    
}

