* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: Roboto;
    }

body{
    font-family: 'Roboto';
    font-size: 12px;
    background-color: #353836;
    color: white;
}

p {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 0 90px;
}

.shop-texto h1 {
  margin: 0.17em 0;
  color: #D36878;
}

/*START MENU MOBILE*/

  .btn-secondary {
    color: #565e64 !Important;
    background-color: #ffffff !Important;
    border-color: #ffffff !Important;
    border-radius: 0% !Important;
  }

  .btn-secondary:hover {
    color: #fff !Important;;
    background-color: #D36878 !Important;
    border-color: #D36878 !Important;
  }

  .btn .btn-secondary i{
    font-size: 40px;
  }

  .fa-bars {
    font-size: 30px;
  }
  
  .dropdown-menu .show {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-content: flex-start !important;
    align-items: flex-start !important;
    inset: 0px !important;
  }

  .btn-group ul li {
    padding: 0px !important;
    margin-left: 0px !important;
  }

  .dropdown-menu {
    border: 0px solid rgba(255, 255, 255, 0.15) !important;
  }

  .dropdown-item {
    padding: 0px 10px !important;
    color: #D36878 !important;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    background-color: white !important;
  }

  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }

  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  header a {
    text-decoration: none;
  }
  
  header {
    padding: 0 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
  }
  
  #brand {
    font-size: 18px;
    font: "Robot";
    display: flex;
    align-items: center;
  }

  #brand img {
    width: 10%;
  }

  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: white;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

  #login,
  #cart {
  border-radius: 5px;
  padding: 5px 8px;
}

#login {
  border: 1px solid #498afb;
}

#cart {
  border: 1px solid #ff3860;
}

#cart a {
  color: #ff3860;
}

#login a {
  color: #498afb;
}
.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }

  .burguer2 {
    color:rgb(0, 0, 0);
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }

  .fas{font-weight:200}

.main-header{
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  padding: 0 3rem;
}

.main-logo{
  color: black;
  font-size:2px;
  padding-left: 0px;
  width: 40%;
  text-decoration:none;
}

.main-logo img{
  width: 30%;
}

.main-nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all .2s linear;
  background-color: rgba(0,0,0,.7);
  z-index: 100;
}

.main-nav.show{
  margin-left: 0;
}

.nav-links{
  background-color: rgb(250,250,250);
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  font-size: 16px;
  color: #746F6F;
  /*justify-content: flex-start;*/
}

.main-nav3 {
  column-width: 300px;
  font-size: 16px;
  position: static;
}

.nav-links2{
  justify-content: flex-start;
}

.nav-links3{
  width: 70%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.link-item{
  /*margin-top: 2rem*/
  color: #746F6F;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.link-item::after {
  position: absolute;
  content: "";
  background-color: #D36878;
  color: #D36878;
  bottom: -5px;
  left: 0;
  width: 20%;
  height: 3px;
  transition: 0.3s ease all;
}

.link-item:hover {
  color: #D36878;
}

.fa-shopping-cart:hover {
  color: #D36878;
}

.link-item:hover::after {
  width: 100%;
  color: #D36878;
}

  .button-menu{
  z-index: 200;
  color: #746F6F;
  width: 80px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-menu span{
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #444444;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all .2s linear;
}

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}

.button-menu.close span:nth-child(2){
  transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3){
  display: none;
}

.fa-shopping-cart {
  color: #746F6F
} 
/*END MENU NAV*/

/*START STYLE BANNERHOME*/
.headerbanner {
  width: 100%;
  padding:60px 0;
  text-align: center;
  /*background: #D36878;*/
  color: white;
  background:url("../image/banner-home.jpeg");
  background-size: cover;       /* For flexibility */
  background-position-y: center;
}

/* card-bg */
.card-bg {
  position: relative;
  width: 100%;
  background: rgba(247, 248, 250, 0.8);
  border-radius: 20px;
  margin: 0 auto;
  color: black;
  padding: 20px;
/* Note: backdrop-filter has minimal browser support */
}

.card-bg h1{
  color: rgb(87, 86, 86);
  font-size: 40px;
  margin: 10px;
}

.card-bg p{
  color: rgb(87, 86, 86);
  padding: 10px 70px;
}

.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid #D36878;
  color: #D36878;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px;
  max-width: 75%; 
  text-align: center;
}

.btn-bgstroke:hover {
  background-color: #D36878;
  color: #ffffff;
}
/*END STYLE BANNERHOME*/



/*START SECCION ECOMMERCE-PRODUCTOS-HOME*/
.bodya {
  background-color: white;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.shop-home {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #595a59;
  background-color: white;
  margin-top: 15px;
}

.shop-texto .btn-bgstroke {
  padding: 5px 50px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 20px;
}

.shop-texto p {
  font-size: 16px;
  color: #746F6F;
}

.container {
  background-color: white;
  display: flex;
  color: #595a59;
  flex-flow: row wrap; 
  justify-content: space-evenly;
  flex: 200px;
  margin: 20px;
}

.item-box {
    position:relative;
		display:flex;
		text-decoration:none;
		width:320px;
		height:320px;
		margin:30px;
		padding:0px;
		border:1px solid #666;
		background-color:#ffffff;
    border: #444444;
    box-shadow: 1px 3px 5px 3px rgb(182, 182, 182)/*, 8px 8px 8px 5px green*/;
		color: #747474;
    flex-grow: 0.25;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.item-box-image {
  background: transparent 50% 50% no-repeat;
  background-size: cover;
  height: 45%;
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
}

.item-box-image img {
  /*width: 50%;*/
  height: 80%;
  background: transparent 50% 50% no-repeat;
  background-size: cover;
  /*display: flex;
  align-content: center;*/
}

.nombre-producto {
  position: relative;
  width: 100%;
  background: #d3687821;
  margin: 0 auto;
  color:#444444;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.item-box p {
  padding-top: 10px;
  font-size: 10px;
  margin-bottom: 0.5rem;
}

.item-box a {
  font-size: 12px;
  display: inline-block;
  border: 1px solid #D36878;
  color: #D36878;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 0px;
  padding: 5px 20px;
}

/*END SECCION ECOMMERCE-PRODUCTOS-HOME*/


/*STAR SECCION SERVICIOS-HOME*/
.servicios {
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: #fafafa;

}

.servicios-text {
  position: relative;
  color: #595a59;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.servicios-text h1{
  color: #d36878;
  margin-bottom: 10px;
  margin-left: 0px;
}

.servicios-text h4{
  margin-bottom: 20px;
}
.servicios-text p{
  padding: 0px;
  font-size: 16px;
  color: #746f6f;
  margin-bottom: 20px;
  text-align: center;
}

.servicios-text ul{
    /* height: 100%; */
  display: block;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none !important;
  padding: 0;
}

.servicios-image {
  position: relative;
  display: flex;
  color: #595a59;
  text-decoration: none;
  flex-grow: 0.25;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 10%;
}

.servicios-image img{
  flex-direction: column;
  align-content: center;
  align-items: center;
  /*-webkit-transform: rotate(-90deg);*/
  width: 50%;
}

/*END SECCION SERVICIOS-HOME*/

/*START SECCION REVIEWS-HOME*/
.reviews-home {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #595a59;
  background-color: white;
  padding-top: 35px;
  width: 100%;
}

.reviews-texto {
  width: 100%;
}

.reviews-texto h1 {
  color: #D36878;
  margin: 0.27em 0;
}

.reviews-texto p {
  font-size: 16px;
  color: #746F6F;
}

.reviews-box {
    position:relative;
		display:flex;
		text-decoration:none;
		margin:30px;
		padding:0px;
		border:1px solid #D36878;
		background-color:#ffffff;
    border: #D36878;
    box-shadow: 1px 3px 5px 3px rgb(182, 182, 182)/*, 8px 8px 8px 5px green*/;
		color: #747474;
    flex-grow: 0.25;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.reviews-box-image {
  background: transparent 50% 50% no-repeat;
  background-size: cover;
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
}

.reviews-nombre {
  position: relative;
  width: 100%;
  margin: 0 auto;
  color:#444444;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
}

.reviews-nombre h3 {
  font-size: 12px;
}

.reviews-box p {
  width: 80%;
  padding: 10px 0px;
}

.reviews-box a {
  font-size: 16px;
  display: inline-block;
  border: 1px solid #D36878;
  color: #D36878;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 0px;
  padding: 5px 20px;
}


/*START PAGINA DE LOGIN*/
.fa-lg {
  color: #D36878;
  padding-bottom: 35px;
}

.form-label {
  color: #746F6F
}

.mx-md-4 {
  color: #D36878;
}

.btn-lg {
  color: #D36878;
}

.footer-style {
  background-color: #D36878;
}

.py-4 {
  background-color: #cc899331;
}
/*END PAGINA DE LOGIN*/



/*STAR FOOTER*/
.footer-stye {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.text-white {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  color: #D36878;
}

.mb-3 {
  margin-bottom: 0rem;
}

.footer-copy {
    font-size: .875em;
}

.py-4 p {
  padding: 0px;
}

.fab {
  /*color: #D36878;*/
  color:#ffffff;
  font-size: 20px;
  margin-bottom: 0rem;
}

.hstack {
  align-items: baseline !important;
  justify-content: center !important;
}

.col-md-6 {
  width: 100% !Important;
}

/*START MEDIAS QUERIES*/
/* Medidas de dispositivos:
320px — 480px: dispositivos móveis. 
481px — 768px: iPads, tablets. 
769px — 939 telas pequenas.
940 - 1078 laptops. 
+ 1079px: desktops, telas grandes.*/

@media screen /*and (min-width:320px)*/ and (max-width:480px) {
  .main-logo img{
    width: 100%;
    padding-left: 0px;
  }

  .nav-links3{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 80px;
  }

  .nombre-producto h3 {
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    font-weight: 500;
    line-height: 0;
    font-size: 10px;

  }

  .container .item-box {
    width: 200px;
    height: 200px;
  }

  .servicios-image{
    display: none;
  }
  
  .servicios-image div{
    display: none;
  }
  
  .servicios-image img{
    display: none;
  }

  .servicios-text {
    width:100%;
    align-content: center;
    align-items: center;
  }

  .servicios-text ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: auto
  }

  .reviews-nombre img {
    width: 20%;
  }

  .reviews-container {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }

  .reviews-box {
    width: 200px;
    height: 200px;
  }

  .reviews-box p {
    font-size: 10px;
  }

  .reviews-box-image {
    height: 45%;
  }

  .reviews-box-image img{
    height: 45%;
  }

  .py-4 {
    margin-top: 400px !important;
  }

}

@media screen and (min-width:481px) and (max-width:768px) {
  p {
    padding: 0px;
  }
  
  .main-logo img{
    width: 45%;
  }

  .nav-links3{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 80px;
    text-align: end;
  }

  .container .item-box {
    display: flex;
    width: 30%;
    height: 240px;
  }

  .nombre-producto {
    padding-top: 10px;
  }

  .nombre-producto h3 {
    font-size: 12px !Important;
  }

 .item-box-image {
    width: 50%;
    height: 0px;
  }

  .servicios-image{
    display: none;
  }

  .servicios-image div{
    display: none;
  }

  .servicios-image img{
    display: none;
  }

  .servicios-text {
    width:100%;
    align-content: center;
    align-items: center;
  }

  .servicios-text ul{
    display: flex;
    align-items: center;
    justify-content: center;list-style: auto;
  }

  .reviews-nombre img {
    width: 40%;
  }

  .reviews-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reviews-box {
    width: 100px;
    height: 200px;
    flex: 18%;
  }

  .reviews-box p {
    font-size: 10px;
  }

  .reviews-box-image {
    height: 40%;
    width: 33%;
  }

  .reviews-box-image img {
    height: 50%;
  }

  .py-4 {
    margin-top: 400px !important;
  }

}


@media screen and (min-width:769px) and (max-width: 939px){
  .button-menu{
    display: none;
  }

  .btn-group {
    display: none !Important;
  }
  .main-logo{
    flex-basis: 30%;
  }

  .main-logo img {
    width: 70%;
}

  .main-nav{
    position: static;
    margin-left: 0;
    height: 100%;
  }

  .nav-links{
    width: 100%;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    align-items: center;
    justify-content: flex-start;
    background: white;
  }

  .nav-links2{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background: white;
  }

  .link-item{
    margin-top: 0;
    margin-right: 2rem;
  }

  .container .item-box{
    width: 120px;
    height: 320px;
  }

  .nombre-producto {
    height: 80px;
  }

  .nombre-producto h3 {
    padding: 0px 10px;
  }

  .reviews-nombre h3 {
    padding: 0px 0px;
  }

  .servicios-image{
    display: none;
  }

  .servicios-image div{
    display: none;
  }

  .servicios-image img{
    display: none;
  }

  .servicios-text {
    width:100%;
    align-content: center;
    align-items: center;
  }

  .servicios-text ul{
    display: flex;
    align-items: center;
    justify-content: center;list-style: auto;
  }

  .nombre-producto h3 {
    font-size: 14px !Important;
  }

  .reviews-nombre img {
    width: 45%;
}

  .reviews-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
  }

  .reviews-box{
    width: 120px;
    height: 150px;
  }

  .reviews-box p {
    font-size: 10px;
  }

  .reviews-box-image {
    height: 35%;
  }

  .reviews-box-image img {
    height: 85%;
  }

  .py-4 {
    margin-top: 400px !important;
  }

}

@media screen and (min-width:940px) and (max-width:1078px){
  .button-menu{
    display: none;
  }

  .btn-group {
    display: none !Important;
  }

  .main-logo{
    flex-basis: 30%;
  }

  .main-logo img {
    width: 60%;
  }

  .main-nav{
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%;
  }

  .nav-links{
    width: 100%;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    align-items: center;
    justify-content: flex-start;
    background: white;
  }

  .nav-links2{
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background: white;
  }

  .link-item{
    /*display: inline-block;*/
    margin-top: 0;
    margin-right: 2rem;
  }

  .container .item-box{
    width: 120px;
    height: 320px;
    flex: 18%
  }

  .nombre-producto {
    height: 80px;
  }

  .nombre-producto h3 {
    font-size: 14px !Important;
  }

  .servicios-text {
    width:40%;
    align-content: flex-start;
    align-items: flex-start;
  }

  .servicios-text ul{
    display: flex;
    align-items: center;
    justify-content: center;list-style: auto;
  }

  .reviews-nombre img {
    width: 20%;
  }

  .reviews-producto {
    height: 80px;
  }

  .reviews-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reviews-box {
    width: 90px;
    height: 180px;
    flex: 18%;
  }

  .reviews-box p {
    height: auto;
    font-size: 10px;
  }

  .reviews-box-image {
    height: 45%;
  }

  .reviews-box-image img {
    /*width: 50%;*/
    height: 45%;
  }

  .py-4 {
    margin-top: 400px !important;
  }

}


@media screen and (min-width:1079px) {
  .button-menu{
    display: none;
  }

  .btn-group {
    display: none !Important;
  }

  .main-logo{
    flex-basis: 30%;
  }

  .main-logo img{
    width: 25%;
  }

  .main-nav{
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%;
  }

  .nav-links{
    width: 100%;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    align-items: center;
    justify-content: flex-start;
    background: white;
  }

  .nav-links2{
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background: white;
  }

  .card-bg h1{
    font-size: 80px;
  }

  .link-item{
    /*display: inline-block;*/
    margin-top: 0;
    margin-right: 2rem;
  }

  .container .item-box {
    width: 90px;
    height: 240px;
    flex: 18%;
  }

 .nombre-producto {
    height: 40px;
  }

  .nombre-producto h3 {
    font-size: 0.95rem;
    margin-bottom: 0;
  }
  

  .servicios-text {
    width:40%;
    align-content: flex-start;
    align-items: flex-start;
  }

  .servicios-text ul{
    display: flex;
    align-items: center;
    justify-content: center;list-style: auto;
  }

  .reviews-nombre {
    height: 40px;
  }

  .reviews-nombre img {
    width: 25%;
  }

  .reviews-container {
    width: 80%;
    display: flex;
  }

  .reviews-box {
    width: 90px;
    height: 240px;
    flex: 18%;
  }

  .reviews-box p {
    font-size: 12px;
  }

  .reviews-box-image {
   height: 50%;
  }

  .reviews-box-image img {
    /*width: 50%;*/
    height: 50%;
  }

  .py-4 {
    margin-top: 200px !important;
  }

}
/*END MEDIAS QUERIES*/
