<!-- Start carrito-->
	<main class="page">
		<section class="shopping-cart dark">
			<div class="container">
				<div class="block-heading">
					<h2>Carrito</h2>
					<!--p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p -->
				</div>
				<div class="content">
					<div class="row">
						<div class="col-md-12 col-lg-8">
							<div class="items">
								<div class="product">
									<div class="row productos3">
										<div class="col-md-3">
											<img class="img-fluid mx-auto d-block image" src="/image/cream-red.png"
												alt="Esmalte Cream Red">
										</div>
										<div class="col-md-8">
											<div class="info">
												<div class="row">
													<div class="col-md-5 product-name">
														<div class="product-name">
															<a href="#">Esmalte Cream Red</a>
															<div class="product-info">
																<div>Esmalte de uñas importado</div>
																<div>10ml</span></div>
															</div>
														</div>
													</div>
													<div class="col-md-3 quantity">
														<label for="quantity">Cantidad:</label>
														<input id="quantity" type="number" value="1"
															class="form-control quantity-input">
													</div>
													<div class="col-md-2 price">
														<span>ARS 810,00</span>
													</div>
													<div class="col-md-1">
														<i class="fas fa-trash"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="product">
									<div class="row productos3">
										<div class="col-md-3">
											<img class="img-fluid mx-auto d-block image" src="/image/cream-red.png"
												alt="Esmalte Cream Red">
										</div>
										<div class="col-md-8">
											<div class="info">
												<div class="row">
													<div class="col-md-5 product-name">
														<div class="product-name">
															<a href="#">Esmalte Cream Red</a>
															<div class="product-info">
																<div>Esmalte de uñas importado</div>
																<div>10ml</div>
															</div>
														</div>
													</div>
													<div class="col-md-3 quantity">
														<label for="quantity">Cantidad:</label>
														<input id="quantity" type="number" value="1"
															class="form-control quantity-input">
													</div>
													<div class="col-md-2 price">
														<span>ARS 810,00</span>
													</div>
													<div class="col-md-1">
														<i class="fas fa-trash"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="product">
									<div class="row productos3">
										<div class="col-md-3">
											<img class="img-fluid mx-auto d-block image" src="/image/cream-red.png"
												alt="Esmalte Cream Red">
										</div>
										<div class="col-md-8">
											<div class="info">
												<div class="row">
													<div class="col-md-5 product-name">
														<div class="product-name">
															<a href="#">Esmalte Cream Red</a>
															<div class="product-info">
																<div>Esmalte de uñas importado</div>
																<div>10ml</div>
															</div>
														</div>
													</div>
													<div class="col-md-3 quantity">
														<label for="quantity">Cantidad:</label>
														<input id="quantity" type="number" value="1"
															class="form-control quantity-input">
													</div>
													<div class="col-md-2 price">
														<span>ARS 810,00</span>
													</div>
													<div class="col-md-1">
														<i class="fas fa-trash"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


							</div>
						</div>
						<div class="col-md-12 col-lg-4">
							<div class="summary">
								<h3>Resumen de compra</h3>
								<div class="summary-item"><span class="text">Subtotal</span><span class="price">ARS
										2430,00</span></div>
								<div class="summary-item"><span class="text">Descuento</span><span
										class="price">$0</span></div>
								<div class="summary-item"><span class="text">Envío</span><span class="price">$0</span>
								</div>
								<div class="summary-item"><span class="text">Total</span><span class="price">ARS
										2430,00</span></div>
								<button type="button" class="btn-bgstroke">Ir a pagar</button>
								<!-- button type="button" class="btn btn-primary btn-lg btn-block">Ir a pagar</button -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<!-- End carrito-->
