<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>dri nails</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/styles-carrito.css">
	<link rel="stylesheet" href="/css/normalize.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
	<script src="menu.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>


<!-- Start carrito-->
	<main class="page">
		<section class="shopping-cart dark">
			<div class="container">
				<div class="block-heading">
					<h2>Carrito</h2>
					<!--p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p -->
				</div>
				<div class="content">
					<div class="row">
						<div class="col-md-12 col-lg-8">
							<div class="items">
								<div class="product">
									<div class="row productos3">
										<div class="col-md-3">
											<img class="img-fluid mx-auto d-block image" src="/image/cream-red.png"
												alt="Esmalte Cream Red">
										</div>
										<div class="col-md-8">
											<div class="info">
												<div class="row">
													<div class="col-md-5 product-name">
														<div class="product-name">
															<a href="#">Esmalte Cream Red</a>
															<div class="product-info">
																<div>Esmalte de uñas importado</div>
																<div>10ml</span></div>
															</div>
														</div>
													</div>
													<div class="col-md-3 quantity">
														<label for="quantity">Cantidad:</label>
														<input id="quantity" type="number" value="1"
															class="form-control quantity-input">
													</div>
													<div class="col-md-2 price">
														<span>ARS 810,00</span>
													</div>
													<div class="col-md-1">
														<i class="fas fa-trash"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="product">
									<div class="row productos3">
										<div class="col-md-3">
											<img class="img-fluid mx-auto d-block image" src="/image/cream-red.png"
												alt="Esmalte Cream Red">
										</div>
										<div class="col-md-8">
											<div class="info">
												<div class="row">
													<div class="col-md-5 product-name">
														<div class="product-name">
															<a href="#">Esmalte Cream Red</a>
															<div class="product-info">
																<div>Esmalte de uñas importado</div>
																<div>10ml</div>
															</div>
														</div>
													</div>
													<div class="col-md-3 quantity">
														<label for="quantity">Cantidad:</label>
														<input id="quantity" type="number" value="1"
															class="form-control quantity-input">
													</div>
													<div class="col-md-2 price">
														<span>ARS 810,00</span>
													</div>
													<div class="col-md-1">
														<i class="fas fa-trash"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="product">
									<div class="row productos3">
										<div class="col-md-3">
											<img class="img-fluid mx-auto d-block image" src="/image/cream-red.png"
												alt="Esmalte Cream Red">
										</div>
										<div class="col-md-8">
											<div class="info">
												<div class="row">
													<div class="col-md-5 product-name">
														<div class="product-name">
															<a href="#">Esmalte Cream Red</a>
															<div class="product-info">
																<div>Esmalte de uñas importado</div>
																<div>10ml</div>
															</div>
														</div>
													</div>
													<div class="col-md-3 quantity">
														<label for="quantity">Cantidad:</label>
														<input id="quantity" type="number" value="1"
															class="form-control quantity-input">
													</div>
													<div class="col-md-2 price">
														<span>ARS 810,00</span>
													</div>
													<div class="col-md-1">
														<i class="fas fa-trash"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


							</div>
						</div>
						<div class="col-md-12 col-lg-4">
							<div class="summary">
								<h3>Resumen de compra</h3>
								<div class="summary-item"><span class="text">Subtotal</span><span class="price">ARS
										2430,00</span></div>
								<div class="summary-item"><span class="text">Descuento</span><span
										class="price">$0</span></div>
								<div class="summary-item"><span class="text">Envío</span><span class="price">$0</span>
								</div>
								<div class="summary-item"><span class="text">Total</span><span class="price">ARS
										2430,00</span></div>
								<button type="button" class="btn-bgstroke">Ir a pagar</button>
								<!-- button type="button" class="btn btn-primary btn-lg btn-block">Ir a pagar</button -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<!-- End carrito-->
