<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dri naildesign</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="menu.js"></script>
</head>

<body class="bodya">
    <secction class="shop-home">
        <div class="shop-texto">
            <h1>Productos</h1>
            <p>Las Mejores Marcas Internacionales las encontrás en nuestro Shop Online</p>
            <a class="btn-bgstroke">Shop</a>
        </div>

        <div class="container">
            <div class="item-box">
                <div class="item-box-image">
                    <img src="image/cream-velvet.png"
                        alt="Esmalte Cream Velvet"></img>
                </div>
                <div class="nombre-producto">
                    <h2>Esmalte Cream Velvet</h2>
                </div>
                <p>AR$810,00</p>
                <a class="btn-bgstroke">Comprar</a>
            </div>
            <div class="item-box">
                <div class="item-box-image">
                    <img src="image/st-germain.jpeg"
                        alt="Esmalte St Germain"></img>
                </div>
                <div class="nombre-producto">
                    <h2>Esmalte St Germain</h2>
                </div>
                <p>AR$940,00</p>
                <a class="btn-bgstroke">Comprar</a>
            </div>
            <div class="item-box">
                <div class="item-box-image">
                    <img src="image/wichita.webp"
                        alt="Esmalte Wichita"></img>
                </div>
                <div class="nombre-producto">
                    <h2>Esmalte Cream Velvet</h2>
                </div>
                <p>AR$780,00</p>
                <a class="btn-bgstroke">Comprar</a>
            </div>
            <div class="item-box">
                <div class="item-box-image">
                    <img src="image/psychedelic-lime.jpeg"
                        alt="Esmalte Psychedelic Lime"></img>
                </div>
                <div class="nombre-producto">
                    <h2>Esmalte Psychedelic Lime</h2>
                </div>
                <p>AR$810,00</p>
                <a class="btn-bgstroke">Comprar</a>
            </div>
            <div class="item-box">
                <div class="item-box-image">
                    <img src="image/smokey-blue.webp"
                        alt="Esmalte Smokey Blue"></img>
                </div>
                <div class="nombre-producto">
                    <h2>Esmalte Smokey Blue</h2>
                </div>
                <p>AR$810,00</p>
                <a class="btn-bgstroke">Comprar</a>
            </div>
            <div class="item-box">
                <div class="item-box-image">
                    <img src="image/jaipur-frasco.webp"
                        alt="Esmalte Jaipur Frasco"></img>
                </div>
                <div class="nombre-producto">
                    <h2>Esmalte Jaipur Frasco</h2>
                </div>
                <p>AR$810,00</p>
                <a class="btn-bgstroke">Comprar</a>
            </div>
            <div class="item-box">
                <div class="item-box-image">
                    <img src="image/green-zen.webp"
                        alt="Esmalte Green Zen"></img>
                </div>
                <div class="nombre-producto">
                    <h2>Esmalte Green Zen</h2>
                </div>
                <p>AR$810,00</p>
                <a class="btn-bgstroke">Comprar</a>
            </div>
            <div class="item-box">
                <div class="item-box-image">
                    <img src="image/aqua-blue.webp"
                        alt="Esmalte Aqua Blue"></img>
                </div>
                <div class="nombre-producto">
                    <h2>Esmalte Aqua Blue</h2>
                </div>
                <p>AR$810,00</p>
                <a class="btn-bgstroke">Comprar</a>
            </div>
        </div>
        <section>
</body>