<!DOCTYPE html>
<html lang="en">

<!-- START HEAD-->
<%- include("./partials/head.ejs") %>
<!-- FINISH HEAD-->

<body class="body">
    
    <!-- START HEADER-->
    <%- include("./partials/header.ejs") %>
    <!-- END HEADER-->

    <!-- START BANNER HOME-->
    <%- include("./partials/bannerhome.ejs") %>
    <!-- END BANNER HOME-->

        <!-- START PRODUCTOS HOME-->
        <section id="productos" class="bodya">
            <secction class="shop-home">
                <div class="shop-texto">
                    <h1>Productos</h1>
                    <p>Las Mejores Marcas Internacionales las encontrás en nuestro Shop Online</p>
                    <button type="button" class="btn-bgstroke">Shop</button>
                </div>

                <div class="container">
                    
                    <div class="item-box"  >
                        <a class="enlace-detalle" href="/products/detailProduct">
                        <div class="item-box-image">
                            <img src="image/jaipur-frasco.webp" alt="Esmalte Cream Velvet"></img>
                        </div>
                    </a>

                        <div class="nombre-producto">
                            <h3>Esmalte Cream Velvet</h3>
                        </div>
                        <p>AR$810,00</p>
                        <a class="to-carrito" href="/cart">
                        <button type="button" class="btn-bgstroke">Comprar</button>
                    </a>
                    </div>
                    <div class="item-box">
                        <a class="enlace-detalle" href="/products/detailProduct">
                        <div class="item-box-image">
                            <img src="image/jaipur-frasco.webp" alt="Esmalte St Germain"></img>
                        </div>
                    </a>
                        <div class="nombre-producto">
                            <h3>Esmalte St Germain</h3>
                        </div>
                        <p>AR$940,00</p>
                        <a class="to-carrito" href="/cart">
                        <button class="btn-bgstroke" type="button">Comprar</button>
                    </a>
                    </div>
                    <div class="item-box">
                        <a class="enlace-detalle" href="/products/detailProduct">
                        <div class="item-box-image">
                            <img src="image/jaipur-frasco.webp" alt="Esmalte Wichita"></img>
                        </div>
                    </a>
                        <div class="nombre-producto">
                            <h3>Esmalte Cream Velvet</h3>
                        </div>
                        <p>AR$780,00</p>
                        <a class="to-carrito" href="/cart">
                        <button type="button" class="btn-bgstroke">Comprar</button>
                    </a>
                    </div>
                    <div class="item-box">
                        <a class="enlace-detalle" href="/products/detailProduct">
                        <div class="item-box-image">
                            <img src="image/jaipur-frasco.webp" alt="Esmalte Psychedelic Lime"></img>
                        </div>
                    </a>
                        <div class="nombre-producto">
                            <h3>Esmalte Jaipur Frasco</h3>
                        </div>
                        <p>AR$810,00</p>
                        <a class="to-carrito" href="/cart">
                        <button type="button" class="btn-bgstroke">Comprar</button>
                    </a>
                    </div>
                    <div class="item-box">
                        <a class="enlace-detalle" href="/products/detailProduct">
                        <div class="item-box-image">
                            <img src="image/jaipur-frasco.webp" alt="Esmalte Smokey Blue"></img>
                        </div>
                    </a>
                        <div class="nombre-producto">
                            <h3>Esmalte Smokey Blue</h3>
                        </div>
                        <p>AR$810,00</p>
                        <a class="to-carrito" href="/cart">
                        <button type="button" class="btn-bgstroke">Comprar</button>
                    </a>
                    </div>
                    <div class="item-box">
                        <a class="enlace-detalle" href="/products/detailProduct">
                        <div class="item-box-image">
                            <img src="image/jaipur-frasco.webp" alt="Esmalte Jaipur Frasco"></img>
                        </div>
                    </a>
                        <div class="nombre-producto">
                            <h3>Esmalte Jaipur Frasco</h3>
                        </div>
                        <p>AR$810,00</p>
                        <a class="to-carrito" href="/cart">
                        <button type="button" class="btn-bgstroke">Comprar</button>
                    </a>
                    </div>
                    <div class="item-box">
                        <a class="enlace-detalle" href="/products/detailProduct">
                        <div class="item-box-image">
                            <img src="image/jaipur-frasco.webp" alt="Esmalte Green Zen"></img>
                        </div>
                    </a>

                        <div class="nombre-producto">
                            <h3>Esmalte Green Zen</h3>
                        </div>
                        <p>AR$810,00</p>
                        <a class="to-carrito" href="/cart">
                        <button type="button" class="btn-bgstroke">Comprar</button>
                    </a>
                    </div>
                    <div class="item-box">
                        <a class="enlace-detalle" href="/products/detailProduct">
                        <div class="item-box-image">
                            <img src="image/jaipur-frasco.webp" alt="Esmalte Aqua Blue"></img>
                        </div>
                    </a>
                        <div class="nombre-producto">
                            <h3>Esmalte Aqua Blue</h3>
                        </div>
                        <p>AR$810,00</p>
                        <a class="to-carrito" href="/cart">
                        <button class="btn-bgstroke" type="button" >Comprar</button>
                    </a>
                    </div>
                </div>
        </section>
    </secction>
    <!-- END PRODUCTOS HOME-->

    <!-- START SERVICIOS HOME-->
    <!--secction id="servicios" class="servicios">
        <div class="servicios-text">
            <h1>Servicios</h1>
            <p>Cuidado permanente con tus uñas. Algunos de nuestros servicios.</p>
            <ul>
                <li>Esmaltado semipermanente</li>
                <li>Press On</li>
                <li>Kapping Gel</li>
                <li>Esmaltado semipermanente</li>
                <li>Press On</li>
                <li>Kapping Gel</li>
            </ul>
                <a class="btn-bgstroke">Conozca nuestros servicios</a>
        </div>
        <div class="servicios-image">
            <img src="image/banner-servicios.jpeg" alt="Esmalte Cream Velvet"></img>
        </div>
    </secction -->
    <!-- END SERVICIOS HOME-->

    <!-- START REVIEWS-->
    <secction class="reviews-home">
        <div class="reviews-texto">
            <h1>Reviews</h1>
            <p>Mensajes que recibimos de nuestros clientes</p>
        </div>

        <div class="container">
            <div class="reviews-container">
                <div class="reviews-box">
                    <div class="reviews-box-image">
                        <img src="image/reviews1.jpeg" alt="Cliente 1"></img>
                    </div>
                    <div class="reviews-nombre">
                        <h3>Sandra Amorias</h3>
                        <img src="image/45s.jpeg" alt="Estrelas"></img>
                    </div>
                    <p>Precioso. La paciencia y la perfección juntas.</p>
                </div>

                <div class="reviews-box">
                    <div class="reviews-box-image">
                        <img src="image/reviews1.jpeg" alt="Cliente 1"></img>
                    </div>
                    <div class="reviews-nombre">
                        <h3>Mercedes Soto</h3>
                        <img src="image/45s.jpeg" alt="Estrelas"></img>
                    </div>
                    <p>Precioso. La paciencia y la perfección juntas.</p>
                </div>

                <div class="reviews-box">
                    <div class="reviews-box-image">
                        <img src="image/reviews1.jpeg" alt="Cliente 1"></img>
                    </div>
                    <div class="reviews-nombre">
                        <h3>Graciela Ramos</h3>
                        <img src="image/45s.jpeg" alt="Estrelas"></img>
                    </div>
                    <p>Precioso. La paciencia y la perfección juntas.</p>
                </div>
            </div>
        </div>
    </secction>
    <!-- END REVIEWS HOME-->

    <!-- START FOOTER-->
    <%- include("./partials/footer.ejs") %>    
    <!-- END FOOTER-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!-- script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script --> 
</body>
</html>