<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dri nails</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="menu.js"></script>
</head>

<body>
    <header class="main-header">
        <button id="button-menu" class="button-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a class="main-logo" href="/"><img src="/image/logo.jpeg" alt="Logo Dri.Nails">
        </a>
        <nav id="nav" class="main-nav">
            <div class="nav-links">
                <span class="nav-links2">
                    <a class="link-item" href="#">Productos</a>
                    <a class="link-item" href="#">Servicios</a>
                    <a class="link-item" href="#">Contacto</a>
                </span>
        </nav>
        <nav class="main-nav3">
            <span class="nav-links3">
                <a class="link-item" href="#">Login</a>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
            </span>
            </div>
        </nav>
        <secction class="bannerhome">
    </header>
    <section class="headerbanner">
        <div class="card-bg">
            <h1>dri.naildesign</h1>
            <p>Manicure con amor. Uñas con arte que conquista y embelleze nuestro mundo.</p>
            <a class="btn-bgstroke">Conozca nuestros servicios</a>
        </div>
    </section>
    </secction>

    <section class="bodya">
        <secction class="shop-home">
            <div class="shop-texto">
                <h1>Productos</h1>
                <p>Las Mejores Marcas Internacionales las encontrás en nuestro Shop Online</p>
                <a class="btn-bgstroke">Shop</a>
            </div>

            <div class="container">
                <div class="item-box">
                    <div class="item-box-image">
                        <img src="image/jaipur-frasco.webp" alt="Esmalte Cream Velvet"></img>
                    </div>
                    <div class="nombre-producto">
                        <h3>Esmalte Cream Velvet</h3>
                    </div>
                    <p>AR$810,00</p>
                    <a class="btn-bgstroke">Comprar</a>
                </div>
                <div class="item-box">
                    <div class="item-box-image">
                        <img src="image/jaipur-frasco.webp" alt="Esmalte St Germain"></img>
                    </div>
                    <div class="nombre-producto">
                        <h3>Esmalte St Germain</h3>
                    </div>
                    <p>AR$940,00</p>
                    <a class="btn-bgstroke">Comprar</a>
                </div>
                <div class="item-box">
                    <div class="item-box-image">
                        <img src="image/jaipur-frasco.webp" alt="Esmalte Wichita"></img>
                    </div>
                    <div class="nombre-producto">
                        <h3>Esmalte Cream Velvet</h3>
                    </div>
                    <p>AR$780,00</p>
                    <a class="btn-bgstroke">Comprar</a>
                </div>
                <div class="item-box">
                    <div class="item-box-image">
                        <img src="image/jaipur-frasco.webp" alt="Esmalte Psychedelic Lime"></img>
                    </div>
                    <div class="nombre-producto">
                        <h3>Esmalte Psychedelic Lime</h3>
                    </div>
                    <p>AR$810,00</p>
                    <a class="btn-bgstroke">Comprar</a>
                </div>
                <div class="item-box">
                    <div class="item-box-image">
                        <img src="image/jaipur-frasco.webp" alt="Esmalte Smokey Blue"></img>
                    </div>
                    <div class="nombre-producto">
                        <h3>Esmalte Smokey Blue</h3>
                    </div>
                    <p>AR$810,00</p>
                    <a class="btn-bgstroke">Comprar</a>
                </div>
                <div class="item-box">
                    <div class="item-box-image">
                        <img src="image/jaipur-frasco.webp" alt="Esmalte Jaipur Frasco"></img>
                    </div>
                    <div class="nombre-producto">
                        <h3>Esmalte Jaipur Frasco</h3>
                    </div>
                    <p>AR$810,00</p>
                    <a class="btn-bgstroke">Comprar</a>
                </div>
                <div class="item-box">
                    <div class="item-box-image">
                        <img src="image/jaipur-frasco.webp" alt="Esmalte Green Zen"></img>
                    </div>
                    <div class="nombre-producto">
                        <h3>Esmalte Green Zen</h3>
                    </div>
                    <p>AR$810,00</p>
                    <a class="btn-bgstroke">Comprar</a>
                </div>
                <div class="item-box">
                    <div class="item-box-image">
                        <img src="image/jaipur-frasco.webp" alt="Esmalte Aqua Blue"></img>
                    </div>
                    <div class="nombre-producto">
                        <h3>Esmalte Aqua Blue</h3>
                    </div>
                    <p>AR$810,00</p>
                    <a class="btn-bgstroke">Comprar</a>
                </div>
            </div>
            <section>
        </secction>
</body>