<!DOCTYPE html>
<html lang="en">

<!-- START HEAD-->
<%- include("./partials/head.ejs") %>
    <!-- FINISH HEAD-->

    <body class="body">

        <!-- START HEADER-->
        <%- include("./partials/header.ejs") %>
            <!-- END HEADER-->

            <!-- START PRODUCTOS-->
            <section id="productos" class="bodya">
                <secction class="shop-home">
                    <div class="shop-texto">
                        <h1>Productos</h1>
                        <p>Las Mejores Marcas Internacionales las encontrás en nuestro Shop Online</p>
                    </div>
                    <hr>

                    <!-- START ESMALTES-->
                    <div class="shop-texto">
                        <h2>Esmaltes</h2>

                        <div class="container">

                            <div class="item-box">
                                <a class="enlace-detalle" href="/products/detailProduct">
                                    <div class="item-box-image">
                                        <img src="/image/jaipur-frasco.webp" alt="Esmalte Cream Velvet"></img>
                                    </div>
                                </a>

                                <div class="nombre-producto">
                                    <h3>Esmalte Cream Velvet</h3>
                                </div>
                                <p>AR$810,00</p>
                                <a class="to-carrito" href="/cart">
                                    <button type="button" class="btn-bgstroke">Comprar</button>
                                </a>
                            </div>
                            <div class="item-box">
                                <a class="enlace-detalle" href="/products/detailProduct">
                                    <div class="item-box-image">
                                        <img src="/image/jaipur-frasco.webp" alt="Esmalte St Germain"></img>
                                    </div>
                                </a>
                                <div class="nombre-producto">
                                    <h3>Esmalte St Germain</h3>
                                </div>
                                <p>AR$940,00</p>
                                <a class="to-carrito" href="/cart">
                                    <button class="btn-bgstroke" type="button">Comprar</button>
                                </a>
                            </div>
                            <div class="item-box">
                                <a class="enlace-detalle" href="/products/detailProduct">
                                    <div class="item-box-image">
                                        <img src="/image/jaipur-frasco.webp" alt="Esmalte Wichita"></img>
                                    </div>
                                </a>
                                <div class="nombre-producto">
                                    <h3>Esmalte Cream Velvet</h3>
                                </div>
                                <p>AR$780,00</p>
                                <a class="to-carrito" href="/cart">
                                    <button type="button" class="btn-bgstroke">Comprar</button>
                                </a>
                            </div>
                            <div class="item-box">
                                <a class="enlace-detalle" href="/products/detailProduct">
                                    <div class="item-box-image">
                                        <img src="/image/jaipur-frasco.webp" alt="Esmalte Psychedelic Lime"></img>
                                    </div>
                                </a>
                                <div class="nombre-producto">
                                    <h3>Esmalte Jaipur Frasco</h3>
                                </div>
                                <p>AR$810,00</p>
                                <a class="to-carrito" href="/cart">
                                    <button type="button" class="btn-bgstroke">Comprar</button>
                                </a>
                            </div>
                            <div class="item-box">
                                <a class="enlace-detalle" href="/products/detailProduct">
                                    <div class="item-box-image">
                                        <img src="/image/jaipur-frasco.webp" alt="Esmalte Smokey Blue"></img>
                                    </div>
                                </a>
                                <div class="nombre-producto">
                                    <h3>Esmalte Smokey Blue</h3>
                                </div>
                                <p>AR$810,00</p>
                                <a class="to-carrito" href="/cart">
                                    <button type="button" class="btn-bgstroke">Comprar</button>
                                </a>
                            </div>
                            <div class="item-box">
                                <a class="enlace-detalle" href="/products/detailProduct">
                                    <div class="item-box-image">
                                        <img src="/image/jaipur-frasco.webp" alt="Esmalte Jaipur Frasco"></img>
                                    </div>
                                </a>
                                <div class="nombre-producto">
                                    <h3>Esmalte Jaipur Frasco</h3>
                                </div>
                                <p>AR$810,00</p>
                                <a class="to-carrito" href="/cart">
                                    <button type="button" class="btn-bgstroke">Comprar</button>
                                </a>
                            </div>
                            <div class="item-box">
                                <a class="enlace-detalle" href="/products/detailProduct">
                                    <div class="item-box-image">
                                        <img src="/image/jaipur-frasco.webp" alt="Esmalte Green Zen"></img>
                                    </div>
                                </a>

                                <div class="nombre-producto">
                                    <h3>Esmalte Green Zen</h3>
                                </div>
                                <p>AR$810,00</p>
                                <a class="to-carrito" href="/cart">
                                    <button type="button" class="btn-bgstroke">Comprar</button>
                                </a>
                            </div>
                            <div class="item-box">
                                <a class="enlace-detalle" href="/products/detailProduct">
                                    <div class="item-box-image">
                                        <img src="/image/jaipur-frasco.webp" alt="Esmalte Aqua Blue"></img>
                                    </div>
                                </a>
                                <div class="nombre-producto">
                                    <h3>Esmalte Aqua Blue</h3>
                                </div>
                                <p>AR$810,00</p>
                                <a class="to-carrito" href="/cart">
                                    <button class="btn-bgstroke" type="button">Comprar</button>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <!-- END ESMALTES-->

                    <!-- START MAQUILLAJE-->
                    <div class="shop-texto">
                        <h2>Maquillaje</h2>

                        <div class="container">

                            <div class="item-box">
                                <a class="enlace-detalle" href="/products/detailProduct">
                                    <div class="maquillaje">
                                        <img src="/image/images.jpeg" alt="Paleta de Maquiagem"></img>
                                    </div>
                                </a>

                                <div class="nombre-producto">
                                    <h3>Paleta de Maquiagem</h3>
                                </div>
                                <p>AR$810,00</p>
                                <a class="to-carrito" href="/cart">
                                    <button type="button" class="btn-bgstroke">Comprar</button>
                                </a>
                            </div>
                            <div class="item-box">
                                <a class="enlace-detalle" href="/products/detailProduct">
                                    <div class="maquillaje">
                                        <img src="/image/rimel.jpeg" alt="Delineador Líquido"></img>
                                    </div>
                                </a>
                                <div class="nombre-producto">
                                    <h3>Delineador Líquido</h3>
                                </div>
                                <p>AR$940,00</p>
                                <a class="to-carrito" href="/cart">
                                    <button class="btn-bgstroke" type="button">Comprar</button>
                                </a>
                            </div>
                            <div class="item-box">
                                <a class="enlace-detalle" href="/products/detailProduct">
                                    <div class="maquillaje">
                                        <img src="/image/rimel2.jpeg" alt="Rímel Waterproof"></img>
                                    </div>
                                </a>
                                <div class="nombre-producto">
                                    <h3>Rímel Waterproof</h3>
                                </div>
                                <p>AR$780,00</p>
                                <a class="to-carrito" href="/cart">
                                    <button type="button" class="btn-bgstroke">Comprar</button>
                                </a>
                            </div>
                            <div class="item-box">
                                <a class="enlace-detalle" href="/products/detailProduct">
                                    <div class="maquillaje">
                                        <img src="/image/baseliquila.webp" alt="Base Líquida"></img>
                                    </div>
                                </a>
                                <div class="nombre-producto">
                                    <h3>Base Líquida</h3>
                                </div>
                                <p>AR$810,00</p>
                                <a class="to-carrito" href="/cart">
                                    <button type="button" class="btn-bgstroke">Comprar</button>
                                </a>
                            </div>
                            <div class="item-box">
                                <a class="enlace-detalle" href="/products/detailProduct">
                                    <div class="maquillaje">
                                        <img src="/image/base-dior.jpeg" alt="Esmalte Smokey Blue"></img>
                                    </div>
                                </a>
                                <div class="nombre-producto">
                                    <h3>Esmalte Smokey Blue</h3>
                                </div>
                                <p>AR$810,00</p>
                                <a class="to-carrito" href="/cart">
                                    <button type="button" class="btn-bgstroke">Comprar</button>
                                </a>
                            </div>
                            <div class="item-box">
                                <a class="enlace-detalle" href="/products/detailProduct">
                                    <div class="maquillaje">
                                        <img src="/image/labial-ultracor.png" alt="Labial Ultracor"></img>
                                    </div>
                                </a>
                                <div class="nombre-producto">
                                    <h3>Labial Ultracor</h3>
                                </div>
                                <p>AR$810,00</p>
                                <a class="to-carrito" href="/cart">
                                    <button type="button" class="btn-bgstroke">Comprar</button>
                                </a>
                            </div>
                            <div class="item-box">
                                <a class="enlace-detalle" href="/products/detailProduct">
                                    <div class="maquillaje">
                                        <img src="/image/brillo-pink.webp" alt="Brillo Pink"></img>
                                    </div>
                                </a>

                                <div class="nombre-producto">
                                    <h3>Brillo Pink</h3>
                                </div>
                                <p>AR$810,00</p>
                                <a class="to-carrito" href="/cart">
                                    <button type="button" class="btn-bgstroke">Comprar</button>
                                </a>
                            </div>
                            <div class="item-box">
                                <a class="enlace-detalle" href="/products/detailProduct">
                                    <div class="maquillaje">
                                        <img src="/image/sombras.webp" alt="Kit Sombras de Ojos"></img>
                                    </div>
                                </a>
                                <div class="nombre-producto">
                                    <h3>Kit Sombras de Ojos</h3>
                                </div>
                                <p>AR$810,00</p>
                                <a class="to-carrito" href="/cart">
                                    <button class="btn-bgstroke" type="button">Comprar</button>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <!-- END MAQUILLAJE-->

            </section>
            </secction>
            <!-- END PRODUCTOS HOME-->



            <!-- START FOOTER-->
            <%- include("./partials/footer.ejs") %>
                <!-- END FOOTER-->

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous"></script>
                <!-- script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script -->
    </body>

</html>