<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dri naildesign</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!--
        <link rel="stylesheet" href="/css/styles.css">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        
    -->
    <link rel="stylesheet" href="/css/productpageNew.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
    
    
    
    <script src="menu.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/view.index.js"></script>
    
</head>

<body >
    <!-- START PRODUCT PAGE -->
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/#productos">Produtos</a></li>
            <li class="breadcrumb-item active">Esmaltes</li>
        </ol>
    </nav>
    
    
    
    
    <div class="unidad-de-producto">
        <div class="image_selected"><img src="https://johnlewis.scene7.com/is/image/JohnLewis/236871399"
            alt=""></div>
            <div class="product_text">
                <h2 class="product_name">Aqua Blue</h2>
                <div class="preciopdp"> <span class="product_price">ARS 810,00</span> <del
                    class="product_discount"> <span style='color:black'>ARS 1090,000<span> </del>
                    </div>
                    <hr class="singleline">
                    <div class="informacionpdp"> <span class="product_info">Esmalte cremoso de larga
                        duración<br>Hidrata y mantiene fortalecida la uña<br>Duración 7 días</span></div>
                        <hr class="singleline">
                                <div class="cantidad">
                                    <label class="col-xs-3" for="quantity">Cantidad:</label>
                                    <input id="quantity" type="number" value="1" class="form-control quantity-input">
                                </div>
                            <div class="col-xs-6 botonpagar"> <button type="button" class="btn-bgstroke">Agregar al Carrito</button>
                            </div>
                        </div>
                    </div>
                    
                    <!--INICIA SECCION DE PRODUCTOS RELACIONADOS-->                    
                    <hr class="singleline">
                    <h2 class="product_name_R">Productos Relacionados</h2>                    
                    
                    <section class="contenedor_productos_relacionados">
                        <div class="unidad-de-producto">
                            <div class="image_selected"><img src="https://johnlewis.scene7.com/is/image/JohnLewis/236871399"
                                alt=""></div>
                                <div class="product_text">
                                    <h2 class="product_name">Aqua Blue</h2>
                                    <div class="preciopdp"> <span class="product_price">ARS 810,00</span> <del
                                        class="product_discount"> <span style='color:black'>ARS 1090,000<span> </del>
                                        </div>
                                        <hr class="singleline">
                                        <div class="informacionpdp"> <span class="product_info">Esmalte cremoso de larga
                                            duración<br>Hidrata y mantiene fortalecida la uña<br>Duración 7 días</span></div>
                                            <hr class="singleline">
                                                    <div class="cantidad">
                                                        <label class="col-xs-3" for="quantity">Cantidad:</label>
                                                        <input id="quantity" type="number" value="1" class="form-control quantity-input">
                                                    </div>
                                                <div class="col-xs-6 botonpagar"> <button type="button" class="btn-bgstroke">Agregar al Carrito</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="unidad-de-producto">
                                            <div class="image_selected"><img src="https://johnlewis.scene7.com/is/image/JohnLewis/236871399"
                                                alt=""></div>
                                                <div class="product_text">
                                                    <h2 class="product_name">Aqual Blue</h2>
                                                    <div class="preciopdp"> <span class="product_price">ARS 810,00</span> <del
                                                        class="product_discount"> <span style='color:black'>ARS 1090,000<span> </del>
                                                        </div>
                                                        <hr class="singleline">
                                                        <div class="informacionpdp"> <span class="product_info">Esmalte cremoso de larga
                                                            duración<br>Hidrata y mantiene fortalecida la uña<br>Duración 7 días</span></div>
                                                            <hr class="singleline">
                                                                    <div class="cantidad">
                                                                        <label class="col-xs-3" for="quantity">Cantidad:</label>
                                                                        <input id="quantity" type="number" value="1" class="form-control quantity-input">
                                                                    </div>
                                                                <div class="col-xs-6 botonpagar"> <button type="button" class="btn-bgstroke">Agregar al Carrito</button>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="unidad-de-producto">
                                                            <div class="image_selected"><img src="https://johnlewis.scene7.com/is/image/JohnLewis/236871399"
                                                                alt=""></div>
                                                                <div class="product_text">
                                                                    <h2 class="product_name">Land Blue</h2>
                                                                    <div class="preciopdp"> <span class="product_price">ARS 810,00</span> <del
                                                                        class="product_discount"> <span style='color:black'>ARS 1090,000<span> </del>
                                                                        </div>
                                                                        <hr class="singleline">
                                                                        <div class="informacionpdp"> <span class="product_info">Esmalte cremoso de larga
                                                                            duración<br>Hidrata y mantiene fortalecida la uña<br>Duración 7 días</span></div>
                                                                            <hr class="singleline">
                                                                                    <div class="cantidad">
                                                                                        <label class="col-xs-3" for="quantity">Cantidad:</label>
                                                                                        <input id="quantity" type="number" value="1" class="form-control quantity-input">
                                                                                    </div>
                                                                                <div class="col-xs-6 botonpagar"> <button type="button" class="btn-bgstroke">Agregar al Carrito</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                        <div class="unidad-de-producto">
                                                                            <div class="image_selected"><img src="https://johnlewis.scene7.com/is/image/JohnLewis/236871399"
                                                                                alt=""></div>
                                                                                <div class="product_text">
                                                                                    <h2 class="product_name">Green Blue</h2>
                                                                                    <div class="preciopdp"> <span class="product_price">ARS 810,00</span> <del
                                                                                        class="product_discount"> <span style='color:black'>ARS 1090,000<span> </del>
                                                                                        </div>
                                                                                        <hr class="singleline">
                                                                                        <div class="informacionpdp"> <span class="product_info">Esmalte cremoso de larga
                                                                                            duración<br>Hidrata y mantiene fortalecida la uña<br>Duración 7 días</span></div>
                                                                                            <hr class="singleline">
                                                                                                    <div class="cantidad">
                                                                                                        <label class="col-xs-3" for="quantity">Cantidad:</label>
                                                                                                        <input id="quantity" type="number" value="1" class="form-control quantity-input">
                                                                                                    </div>
                                                                                                <div class="col-xs-6 botonpagar"> <button type="button" class="btn-bgstroke">Agregar al Carrito</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                           

                    </section>


                                <!--FINALIZA SECCION DE PRODUCTOS RELACIONADOS-->  
                                
                                <!-- END PRODUCT PAGE-->
                                
                                <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
                                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                                crossorigin="anonymous"></script>
                                
                            </body>